<!DOCTYPE html>
<html>
    <head>
        <title>My Sample Project</title>
        <!-- data-main attribute tells require.js to load
             js/main.js after require.js loads. -->
        <script data-main="js/main" src="js/lib/require.js"></script>
    </head>
    <body>
        <h1>My Sample Project</h1>
        <script type="text/template" id="stats-template">
			    <% if (done) { %>
			      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
			    <% } %>
			    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
			  </script>
    </body>
</html>